<section class="clients">
    <div class="clients-img">
        <img src="../images/clients/discovery-health-logo.webp" alt="Discovery health">
    </div>
    <div class="clients-img">
        <img src="../images/clients/castle-connolly-1.webp" alt="castle connolly">
    </div>
    <div class="clients-img">
        <img src="../images/clients/sharp-experience-logo.webp" alt="sharp experience">
    </div>
    <div class="clients-img">
        <img src="../images/clients/US-news.webp" alt="US News">
    </div>
    <div class="clients-img">
        <img src="../images/clients/united-hemispheres.webp" alt="united hemispheres">
    </div>
    <div class="clients-img">
        <img src="../images/clients/new-york-times-300x56.webp" alt="new work times">
    </div>
    <div class="clients-img">
        <img src="../images/clients/sd-magazine.webp" alt="sd magazines">
    </div>
    <div class="clients-img">
        <img src="../images/clients/sd-union-tribune.webp" alt="sd union tribune">
    </div>
    <div class="clients-img">
        <img src="../images/clients/delta-sky.webp" alt="delta sky">
    </div>
    <div class="clients-img">
        <img src="../images/clients/Bentley_logo-3.webp" alt="Bentley_logo-3">
    </div>
</section>