<div class="container">
    <div class="text-section">
        <h2>Expert Healthcare Services You Can Rely On</h2>
        <p>Dr. pushpak Samanta is a highly skilled and experienced cardiologist dedicated to providing comprehensive cardiac care. With expertise in diagnosing and treating a wide range of heart conditions, Dr. Samanta specializes in preventive cardiology, interventional cardiology, and heart disease management. With years of clinical experience, Dr. Samanta is committed to utilizing advanced diagnostic techniques and state-of-the-art procedures to deliver the best possible outcomes for his patients.</p>
        <!-- <h1>Qualifications:</h1>
        <p><strong>MBBS:</strong> MEDICAL COLLEGE, KOLKATA</p>
        <p><strong>MD (GENERAL MEDICINE):</strong> MEDICAL COLLEGE, KOLKATA</p>
        <p><strong>DM (CARDIOLOGY):</strong> NRS MEDICAL COLLEGE AND HOSPITAL</p>
        <p><strong>Designation:</strong> Consultant – Cardiologist</p>
        <p><strong>Specialty:</strong>Cardiology</p> -->
        <!-- <p><a href="#">International Healthcare Association</a></p> -->
    </div>
    <div class="image-section">
        <img src="images/puspak.png" alt="Professional Image">
    </div>
</div>