<header class="header-nav">
    <div class="nav-container">
        <a href="index.html" class="bbranding">
            <div class="llogo"><img src="images/puspaklogo.jpeg" alt="Prof. Dr. Puspak Samal"></div>
            <div class="title-container">
                <h1>Prof. Dr. Puspak Samal</h1>
                <p>Consultant Orthopaedics & Spine Surgeon</p>
            </div>
        </a>

        <nav class="nav-links">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>

            <!-- cranial Dropdown -->
            <details>
                <summary>
                    <a href="cranial.html">Cranial</a></summary>
                <!-- <div class="dropdown-menu">
                    <a href="cervicalspine.html">Cervical Spine</a>
                   <a href="spine.html#lumbar">Lumbar Spine</a>
                        <a href="spine.html#scoliosis">Scoliosis</a>
                        <a href="spine.html#disc">Disc Herniation</a> 
                </div> -->
            </details>

            <!-- Spine Dropdown -->
            <details>
                <summary>
                    <a href="spine.html">Spine</a></summary>
                <!-- <div class="dropdown-menu">
                    <a href="cervicalspine.html">Cervical Spine</a>
                    <a href="spine.html#lumbar">Lumbar Spine</a>
                        <a href="spine.html#scoliosis">Scoliosis</a>
                        <a href="spine.html#disc">Disc Herniation</a>
                </div> -->
            </details>

            <!-- Patient Resourses Dropdown -->
            <!-- <details>
                <summary>Patient Resourses</summary>
                <div class="dropdown-menu">
                    <a href="cervicalspine.html">Cervical Spine</a>
                    <a href="spine.html#lumbar">Lumbar Spine</a>
                        <a href="spine.html#scoliosis">Scoliosis</a>
                        <a href="spine.html#disc">Disc Herniation</a>
                </div>
            </details> -->

            <!-- Joint Replacement Dropdown -->
            <details>
                <summary class="inner-page">Joint Replacement</summary>
                <div class="dropdown-menu">
                    <a href="totalkneereplacement.html">Total Knee Replacement</a>
                    <a href="unicodylarknee.html">Unicondylar Knee Replacement</a>
                    <a href="totalhipreplacement.html">Total Hip Replacement</a>
                    <a href="shoulderreplacement.html">Shoulder Replacement</a>
                    <a href="elbowreplacement.html">Elbow Replacement</a>
                </div>
            </details>

            <a href="testimonial.html">Testimonials</a>
            <a href="blogging.html">Blog</a>
            <a href="contact.html">Contact</a>
            <!-- <a href="appointment.html" class="cta-button">
                    <i class="fas fa-calendar-check"></i>
                    Book Appointment
                </a> -->
        </nav>

        <button class="mobile-menu-btn" aria-label="Menu">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</header>