<div id="videoCarousel" class="carousel slide" style="padding: 40px 20px;" data-bs-ride="carousel">
  <div class="carousel-inner">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="row">
        <div class="col-12 col-md-6 mb-3">
          <div class="card">
            <iframe class="card-img-top" height="315" src="https://www.youtube.com/embed/KeqX7nwJQy8?rel=0"
              title="Video 1" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="card">
            <iframe class="card-img-top" height="315" src="https://www.youtube.com/embed/MtJcjEdSqto?rel=0"
              title="Video 2" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="row">
        <div class="col-12 col-md-6 mb-3">
          <div class="card">
            <iframe class="card-img-top" height="315" src="https://www.youtube.com/embed/3u_Q2r2k2jI?rel=0"
              title="Video 3" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="card">
            <iframe class="card-img-top" height="315" src="https://www.youtube.com/embed/TJY7JqqvZDI?rel=0"
              title="Video 4" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Add more slides below as needed -->

  </div>

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#videoCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark rounded-circle"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#videoCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark rounded-circle"></span>
  </button>
</div>
